git+https://github.com/huggingface/accelerate.git
git+https://github.com/huggingface/peft.git
transformers-stream-generator
transformers==4.57.1
huggingface_hub
albumentations
qwen-vl-utils
sentencepiece
opencv-python
torchvision
supervision 
matplotlib
num2words
reportlab
xformers
markdown
requests
hf_xet
spaces
pillow
gradio
einops
torch
timm
av
